div#p1_container
  h3 hey this is page 1
  input(ng-model="artist_input")
  button(ng-click="artist_search()") Search
  br
  div(ng-repeat='artist in artists')
    span Artist:  {{artist.name}}
    a(href='page2/{{artist.songkick_id}}') Find Shows
