div.jumbotron
  h4 Search for a new Artist
  input(ng-model="artist_input", type="text", class="form-control form-group")
  button(ng-click="artist_search()", type="submit", class="btn btn-success") Search
  br
  div(ng-repeat='artist in artists')
    span Artist:  {{artist.name}}
    a(href='page2/{{artist.songkick_id}}') Find Shows
  br
  div(ng-repeat='prev_artist in prev_artists')
    span Previous Artists:  {{prev_artist.name}}
    a(href='page2/{{prev_artist.songkick_id}}') Find Shows
