div#p2_container
  h3 hey this is page 2
  div(ng-repeat='show in shows')
    div
      a(href='page3/{{show.songkick_event_id}}') Find Images
      span {{show.show_details}}
  div
    a(href='/') Page1
