div.row-fluid
  span.span12
    h4 Here are the most recent shows
  hr
  div(ng-repeat='show in shows', class="row-fluid show-row")
    span.span2
      button(ng-click="show_select({{show.songkick_event_id}})", type="submit", class="btn-small btn-success") Find Images
    span.10
      {{show.show_details}}
