div.row-fluid
  div.span12
    h4.text-success {{ cur_show }} Images!
  br
  div.row-fluid
    ul.inline
      li(ng-repeat='image in images', class="span3")
        a(href="{{image.url}}", target="_blank")
          img(ng-src="{{image.url_m}}", class="img-polaroid")
