extends layout

block body
  div.container
    div.masthead
      ul.nav.nav-pills.pull-right
        li.active
          a(href='/') Home
      h2#main-title.text-info Show Shots
      span#blurb.pull-right Find concert photos for your favorite bands and artists
    hr
    div#main(ng-view)
    hr
    div.footer
      span.pull-left.muted See
        a(href="https://github.com/bscip/showshots/") Code
        span on GitHub
      span.pull-right.muted  Powered By 
        a(href="http://www.echonest.com/") Echo Nest
        span +
        a(href="http://www.songkick.com/") Songkick
        span +
        a(href="http://www.flickr.com/") Flickr
      

  script(src='/js/lib/angular.js')
  script(src='/js/lib/angular-resource.js')
  script(src='/js/lib/jquery-2.0.3.js')
  script(src='/js/lib/bootstrap-javascript/bootstrap.js')
  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/services.js')
  script(src='/js/filters.js')
  script(src='/js/directives.js')

