doctype 5
html(ng-app='showshotsApp')
  head
    meta(charset='utf8')
    base(href='/')
    title = 'Show Shots'
    link(rel='stylesheet', href='/js/lib/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', type="text/css", href='/css/style.css')
    link(rel='stylesheet', type="text/css", href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', type="text/css", href='http://fonts.googleapis.com/css?family=Lobster')
  body
    block body
