a:hover {
    cursor: pointer;
}
body {
    padding: 50px 10px 50px 10px;
    background:  url(/images/g_pix.png) repeat 0 0;
}

#main {
    min-height: 400px;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', Georgia, Times, serif;
}

p, div {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.mini-header {
    padding: 10px;    
    margin:  10px 10px;
}

#hottt-section {
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.hottt {
    float: none;
    margin: 5px 5px;
    text-align: center;
}

.show-row {
    height: 50;
    margin: 5 auto;
}

.show-row span {
    margin: auto 5;
}

.show-btn {
    width: 150px;
}

.show-details {
    font-size: 12pt;
    margin: 5px auto auto auto;
}

#footer {
    font-size: 10pt;
}


