body {
    padding: 50px 10px 50px 10px;
    background:  url(/images/g_pix.png) repeat 0 0;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', Georgia, Times, serif;
}
p, div {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.show-row {
    height: 50;
    margin: 5 auto;
}

.show-row span {
    margin: auto 5;
}

#footer {
    font-size: 10pt;
}
